h1{
    color:rgb(192, 19, 19);
    text-shadow: 1px 1px rgb(211, 154, 154);
    background-color: rgb(7, 7, 7);
    font-family: 'Arvo', serif;
    letter-spacing: -1px;
    box-shadow: 2px 2px 3px grey;
}
#heading2{
    background-color:rgb(180, 14, 14) ;
    font-family: 'Signika', sans-serif;
    box-shadow: 2px 2px 2px black;

}
h3{
    color:rgb(167,20,49);
}

.form-control{
    border:none;
    border-bottom:2px solid black;
    box-shadow:none !important;
    border-radius: 0px;
    
}

.form-control:focus{
    border-bottom: 1px solid black;
}
#btn1{
    display:block;
    margin:auto;
    background-color: rgb(10, 95, 95);
    box-shadow: 2px 3px 5px rgb(4, 59, 59);
}
span{
    color: rgb(131, 15, 21);
}
#delbtn{
    background-color: rgb(172, 35, 11);
    margin-left: 70%;
}
.accordion-button{
    background-color: rgb(130, 175, 190);
    color: white;
}
.accordion-item{
    background-color: rgb(129, 204, 218);
}
#user{
    font-family: 'Signika', sans-serif;
    font-size: 30px; 
    color: black;
}